# Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# TensorFlow checkpoints and saved models
*.ckpt
*.meta
*.index
*.data-*
saved_model.pb
variables/

# Data files (adjust as needed)
*.csv
*.txt
*.dat

# Log files
*.log

# Virtual environment
venv/
env/

# IDE and OS specific files
.idea/
.vscode/
*.swp
*.swo
._*
*.DS_Store

# TensorFlow profiler files
plugins/profile/

# Flask instance folder (this is often used to store configuration and data)
instance/

# Flask cache
.cache/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy type checking
.mypy_cache/

# macOS Finder metadata
.DS_Store

# Windows Thumbs.db
Thumbs.db

